<header>
  <nav class="navbar navbar-expand-lg bg-dark shadow-sm">
    <!-- navbar navbar-expand-lg bg-light shadow-sm       navbar navbar-expand-lg bg-dark shadow-sm-->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
            <a class = "nav-link" style = "color: whitesmoke;" href = "/home">Home</a>
        </li> -->
        <li class="nav-item">
          <a class = "nav-link" style = "color: whitesmoke;" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class = "nav-link" style = "color: whitesmoke;" href = "/jokes">Generator</a>
        </li>
        <!-- Below commented code for debugging joke display -->
        <!-- <li class="nav-item">
              <a class = "nav-link" style = "color: whitesmoke;" href="/displayjokes">Jokes</a>
        </li> -->
        <li class="nav-item">
          <a class = "nav-link" style = "color: whitesmoke;" href = "/saved">Saved</a>
      </li>
        <li class="nav-item">
            <a class = "nav-link" style = "color: whitesmoke;" href = "/logout">Logout</a>
        </li>
      </ul>
      <div class="image">
        <img height="40px" style="border-radius: 8px; margin-right: auto;" src=<%= img %>
      </div>
      
    </div> 
  </nav>
  <style>
    .image{
      position: relative;
    }
    .item1{
      right: 500px;
    }
  </style>
</header>